<h1>Members Only!</h1>

<% @messages.each do |message| %>
      <%= message.user.name %>
  <%=message.title %> 
  <%= message.body %>
<% end %>

<% if current_user %>
  <%= link_to "Create a message", messages_new_path %>
<% end %>
